body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    --app-height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
    height: var(--app-height);

    margin: 0;

    /*FONT*/
    font-family: var(--font);
    font-size: 16px;
    letter-spacing: 1px;

    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    overscroll-behavior: contain;
}

/*MAIN*/

main {
    width: 100%;
    height: var(--app-height);

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--color-black);
    color: var(--color-white);
    font-size: 40px;
}

#app {
    width: 100%;
    height: var(--app-height);

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    /*overflow-y: hidden;*/

    z-index: 2;
}